{"filter":false,"title":"15_run_migrations.config","tooltip":"/.ebextensions/15_run_migrations.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":14},"end":{"row":2,"column":41},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1477964986000,"hash":"c04278c891dcc1ba7aed691057eaef8ca559d9ac"}