{"filter":false,"title":"20_run_tests.config","tooltip":"/.ebextensions/20_run_tests.config","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"9fa0b94932208efd46ce3a5fa2027cf1694b1646","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1477964986000}